.d-header {
  .sso-signup-button {
    margin-left: 7px;
    @if $hide-sso-signup-button-on-mobile == "true" {
      .mobile-view & {
        display: none;
      }
    }   
    ~ .auth-buttons {
      .sign-up-button {
        display: flex;
      }
    }
  }
  .auth-buttons {
    .sign-up-button {
      display: none;
    }
  }
}
