.d-header {
  .auth-buttons {
    .sign-up-button:not(.sso-signup-button) {
      display: none;
    }
  }
  .sso-signup-button {
    margin-left: 7px;
    @if $hide-sso-signup-button-on-mobile == "true" {
      .mobile-view & {
        display: none;
      }
    }
  }
}
